<?xml version="1.0" encoding="UTF-8" ?>
<checkstyle>

<file name="src/main.js">
  
  <error
    line="5"
    severity="warning"
    message="Cyclomatic: 2,
    Halstead: 50.794
    | Effort: 65197
    | Volume: 1283.6
    | Vocabulary: 28"
    source="invokeFn"
    />
  
  <error
    line="50"
    severity="warning"
    message="Cyclomatic: 7,
    Halstead: 21.375
    | Effort: 11526
    | Volume: 539.23
    | Vocabulary: 42"
    source="invokeInner"
    />
  
</file>



</checkstyle>
